link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600',rel='stylesheet',type='text/css')
link(href='https://fonts.googleapis.com/css?family=Tangerine:700',rel='stylesheet',type='text/css')
link(href='/s/site.css',rel='stylesheet')
link(href='/s/font-awesome/css/font-awesome.min.css',rel='stylesheet')
script(src="http://code.jquery.com/jquery-1.11.1.js")
