span#favorites-panel-container
script(type='text/babel',src='s/components/FavoriteList.jsx')
script(type='text/babel').
  ReactDOM.render(
    <window.components.FavoriteList user_id={#{user.user_id}+''}/>,
    document.getElementById('favorites-panel-container')
  );
