style.
  #input-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
  }
  #input-overlay-background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(127,127,127,0.5);
  }
  #input-container {
    vertical-align: middle;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 700px;
    width:840px;
  }

mixin input_overlay(parent_id)
  #input-overlay
    #input-overlay-background
    #input-container
      iframe#input-frame(width=800,height=600,src="s/drawing_panel.html")
      div
        button#input-submit Post
        button#input-cancel Cancel
    if parent_id
      script.
        $(document).ready(function(){
          $('#input-cancel').click(function(){$('#input-overlay').css('display','none');});
          $('#input-submit').click(function(){
            var payload = $('iframe').contents().find('#input-canvas')[0].toDataURL('image/png');
            socket.emit('create_post', {
              content:payload,
              parent_id:#{parent_id}
            });
            $('iframe')[0].src+='';
            $('#input-overlay').css('display','none');
          });
        });
    else
      script.
        $(document).ready(function(){
          $('#input-cancel').click(function(){$('#input-overlay').css('display','none');});
          $('#input-submit').click(function(){
            var payload = $('iframe').contents().find('#input-canvas')[0].toDataURL('image/png');
            socket.emit('create_post', {
              content:payload
            });
            $('iframe')[0].src+='';
            $('#input-overlay').css('display','none');
          });
        });
