doctype html
html
  head
    title  A Drawing Board
    include includes/common.jade
    include includes/client-socket.jade
    include includes/react-setup.jade
    script(type='text/babel',src='s/components/PostList.jsx')
  body
    include includes/header.jade
      
    if user
      include includes/input-overlay.jade
      include includes/favorites-panel.jade
    #page-content.container
      span#front-posts-container
        script(type='text/babel').
          var target = {page:'/'};
          ReactDOM.render(
            <window.components.PostList
              up={target}
              #{user && 'user_id={\''+user.user_id+'\'}'}
              allow_replies={#{!!user}}
            />,
            document.getElementById('front-posts-container')
          ); 
