doctype html
html
  head
    title Viewing #{parent.post_id}
    include includes/common.jade
    include includes/client_socket.jade
    +client_socket
  body
    include includes/header.jade
    +header
    if user_id
      include includes/input_overlay.jade
      +input_overlay(parent.post_id)
    #page-content.container
      include includes/post_list.jade
      include includes/post_detail.jade
      +post_detail(parent)
      if user_id
        +post_list({'parent_id':parent.post_id},true)
      else
        +post_list({'parent_id':parent.post_id})
