doctype html
html
  head
    title Viewing #{main_post.post_id}
    include includes/common.jade
    include includes/client-socket.jade
    include includes/react-setup.jade
    script(type='text/babel',src='/s/components/PostList.jsx')
  body
    include includes/header.jade
    if user
      include includes/input-overlay.jade
      include includes/favorites-panel.jade
      
    #page-content.container
      include includes/post-detail.jade
      +post_detail(main_post)
      div#post-replies-container
        script(type='text/babel').
          var target = {post_id: '#{main_post.post_id}'};
          ReactDOM.render(
            <window.components.PostList
              up={target}
              #{user && 'user_id={\''+user.user_id+'\'}'}
              allow_replies={#{!!user}}
            />,
            document.getElementById('post-replies-container')
          );
